venv
/home/arthur/pipeline_tweets/airflow_pipeline/airflow-webserver.pid
/home/arthur/pipeline_tweets/airflow_pipeline/logs
/home/arthur/pipeline_tweets/airflow_pipeline/airflow.cfg
/home/arthur/pipeline_tweets/airflow_pipeline/airflow.db
/home/arthur/pipeline_tweets/airflow_pipeline/standalone_admin_password.txt
/home/arthur/pipeline_tweets/airflow_pipeline/webserver_config.py